.banner {
    width: 100%;
}

.bg-light {
    background-color: #1B244D!important;
}

body {
    background-color: #000;
}

.contact-art {
    width: 33%;
    height: 400px; 
    object-fit: cover;
}

.contact-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    border: 3px solid;
    border-color: #1B244D;
}

.contact-content {
    width: 66%;
    height: 400px;
    padding-left: 30px;
}

.footer-spacing {
    margin-top: 10px;
    margin: 10px auto;
    text-align: center;
}

.footer-comment {
    font-size: 0.8em;
    margin-right: 5px;
    position: inline;
}

.feature-3-adjustment {
    object-position: 10% 80%;
}

h1,h2,h3,h4,h5,h6 {
    color:#EEEEEE;
}

.header-decoration {
    font-family: 'Playfair Display SC', serif;
    border-bottom: 3px dotted #1B244D;
    padding: 10px 0px 10px 0px;
}

.section {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.section-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.section-item {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.section-title {
    position: absolute;
    margin: auto;
    color: #FFFFFF;
    font-size: 4vw;
}

.section-overlay {
    height: 300px;
    width: 100%;
    background-color: #000;
    position: absolute;
    opacity: 0.4;
}

.section-overlay:hover {
    opacity: 0;
}

.navbar-brand {
    margin-right: 5px;
    margin-left: 5px;
}

.nav-item .nav-link {
    color: #82A4D5!important;
}

.nav-item .nav-link:hover {
    color: #EEEEEE!important;
}

.nav-item.active .nav-link {
    color: #95C6F7!important;
}

.nav-logo {
    width: 45px;
}

.news-art {
    width: 33%;
    height: 700px; 
    object-fit: cover;
    position: sticky;
}

.news-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    border: 3px solid;
    border-color: #1B244D;
}

.news-content {
    width: 66%;
    height: 700px;
    padding-left: 30px;
}

p {
    color:#CCCCCC;
}